<html>
<head>
{{> header}}
</head>
<body>
  <h1>My Articles</h1>
  
  <div class="container">
 {{> menu}}
 
 <div class="list-group">
 {{#articles}}
  
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{title}}</h5>
    </div>
    <p class="mb-1">{{body}}</p>
    
  <div class="article-action-buttons">
    <a href="/users/articles/edit/{{articleid}}">
      <button type="button" class="btn btn-primary">Edit</button>
    </a>
    
    <form action="/users/delete-article" method="POST">
      <input type="hidden" name="articleId" value={{articleid}} />
      <button type="submit" class="btn btn-danger"> Delete</button>
    </form>
  </div>
   {{/articles}}
</div>
 
</div>
  {{> footer}}
</body>
</html>